# Lists

In [1]:
list1=[10.86,"seetha",290,[1,2,3,4,5],True]

In [3]:
list1

[10.86, 'seetha', 290, [1, 2, 3, 4, 5], True]

In [4]:
list1[4]

True

In [5]:
list1.append("swetha")#adds the element at the end of the list

In [6]:
list1

[10.86, 'seetha', 290, [1, 2, 3, 4, 5], True, 'swetha']

In [7]:
list1.index(10.86)#gives the index of a particular element in the list

0

In [9]:
list1.pop(1)#removes the element at the given index

'seetha'

In [13]:
list1.reverse()#reverses the entire list

In [14]:
list1

['swetha', True, [1, 2, 3, 4, 5], 290, 10.86]

In [17]:
list1.count(290)#counts the occurence of a particular element

1

# sets

In [19]:
sets={"swetha","swathi",11,34,23,34,56,12,10.86,23.45}

In [20]:
sets

{10.86, 11, 12, 23, 23.45, 34, 56, 'swathi', 'swetha'}

In [22]:
sets.pop()#removes an element from set

34

In [23]:
sets

{10.86, 11, 12, 23, 23.45, 56, 'swathi', 'swetha'}

In [25]:
sets.remove("swathi")#removes particular element from a set

In [26]:
sets

{10.86, 11, 12, 23, 23.45, 56, 'swetha'}

In [27]:
set1={1,2,3,4}

In [28]:
set2=sets.union(set1)#combines two sets

In [29]:
set2

{1, 10.86, 11, 12, 2, 23, 23.45, 3, 4, 56, 'swetha'}

In [30]:
set3=sets.copy()#copies the elements of a set to another set

In [31]:
set3

{10.86, 11, 12, 23, 23.45, 56, 'swetha'}

In [32]:
set4={4,5,6,7}

In [33]:
set1.difference_update(set4)#removes common elements

In [34]:
set1

{1, 2, 3}

In [35]:
set4

{4, 5, 6, 7}

In [36]:
set4.difference_update(set1)

In [37]:
set4

{4, 5, 6, 7}

# String

In [38]:
str1="letsupgrade"

In [39]:
str2="python program"

In [40]:
str1.capitalize()#converts first letter to uppercase

'Letsupgrade'

In [41]:
x=str2.find("python")#finds the string and returns its index value

In [42]:
print(x)

-1

In [43]:
x=str1.find("l")

In [44]:
print(x)

-1

In [45]:
str1.isalpha()#returns true if the strings has all alphabets

True

In [46]:
str2.isupper()# returns true if all the letters are in uppercase

False

In [47]:
str1.endswith(".")#returns true if the string ends with specified character

False

# Tuple

In [58]:
tuple1=("swathi",1,2,3,"#")

In [59]:
tuple1

('swathi', 1, 2, 3, '#')

In [64]:
tuple1.count(1)

1

In [60]:
tuple1

('swathi', 1, 2, 3, '#')

In [65]:
tuple1.index("#")

4

# Dictionaries

In [66]:
dict1={"name":"swathi","age":"21","number":"9456679"}

In [67]:
dict1

{'name': 'swathi', 'age': '21', 'number': '9456679'}

In [69]:
dict1.pop("number")

'9456679'

In [70]:
dict1

{'name': 'swathi', 'age': '21'}

In [71]:
dict1.get("name")

'swathi'

In [72]:
dict1.keys()

dict_keys(['name', 'age'])

In [75]:
dict1.items()

dict_items([('name', 'swathi'), ('age', '21')])

In [77]:
dict1.update({"place":"Hyd"})

In [78]:
dict1

{'name': 'swathi', 'age': '21', 'place': 'Hyd'}